mixin servicesItem(title, description) 
     .col-lg-3.col-md-6.mb-5.mb-lg-0
        span.service-icon.rounded-circle.mx-auto.mb-3
            i.fas.fa-mobile                       
        h4 
            strong= title
        p.text-faded.mb-0= description