footer.footer.text-center
    .container.px-4.px-lg-5
        ul.list-inline.mb-5
            li.list-inline-item
                a.social-link.rounded-circle.text-white.mr-3
                    i.fa-brands.fa-facebook-f
            li.list-inline-item
                a.social-link.rounded-circle.text-white.mr-3
                    i.fa-brands.fa-twitter
            li.list-inline-item
                a.social-link.rounded-circle.text-white.mr-3
                    i.fa-brands.fa-github                      
        p.text-muted.small.mb-0 Copyright © Your Website 2023       