a.menu-toggle.rounded(href='#')
    i.fas.fa-bars
nav#sidebar-wrapper
    ul.sidebar-nav
        li.sidebar-brand
            a(href="#") Pug-Sass
        li.sidebar-nav-item
            a(href="#") Home
        li.sidebar-nav-item
            a(href="#about") About
        li.sidebar-nav-item
            a(href="#services") Services
        li.sidebar-nav-item
            a(href="#portfolio") Portfolio
        li.sidebar-nav-item
            a(href="#contact") Contact
header.masthead.d-flex.align-items-center
    .container.px-4.px-lg-5.text-center
        h1.mb-1 Stylish Portfolio
        h3.mb-5
            em A Free Bootstrap Theme by Start Bootstrap
        a.btn.btn-primary.btn-xl(href="#") Find Out More