.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1d809f;
  --bs-btn-border-color: #1d809f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #196d87;
  --bs-btn-hover-border-color: #17667f;
  --bs-btn-focus-shadow-rgb: 63, 147, 173;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #17667f;
  --bs-btn-active-border-color: #166077;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1d809f;
  --bs-btn-disabled-border-color: #1d809f;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}
